<header>
	<div class="wrap">
		<div class="container_12">
			<div class="grid_6">
				<a href="#" class="brand">PaySt</a>
			</div>
			<nav class="grid_6">
				<ul class="navigator">
					<li><a href="#">what is this ?</a></li>
					<li><a href="#how-works">how works ?</a></li>
					<li><a href="#links">links</a></li>
					<li><a href="#contact">contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
