<section id="{{ id }}">
	<div class="container_12">
		<div class="grid_12">
			<h2>{{ header }}</h2>
			<p>{{ '_content' | trans }}</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, porro voluptate a harum saepe maxime blanditiis atque tenetur aspernatur tempora soluta facere repellat optio laudantium et labore dolor asperiores velit maiores ex. Autem, distinctio et esse recusandae nostrum omnis voluptas animi nobis molestias accusamus quaerat error voluptatem eligendi obcaecati natus tenetur iste modi tempore a quibusdam repudiandae eum quam sint molestiae sunt qui facilis dignissimos quis numquam sed architecto doloribus iusto cumque eaque blanditiis temporibus incidunt expedita. Ab, quo, explicabo, illo illum accusamus sint quaerat officiis temporibus ipsa similique ipsam laboriosam architecto deserunt quasi molestias consectetur blanditiis tempore sit nobis.</p>
		</div>
	</div>
</section>
